@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --background: #0a0a0a; */
/* --foreground: #ededed; */
/* } */
/* } */
@font-face {
  /* font-family: 'Jersey_10';
  src: url('/fonts/Jersey_10/Jersey10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; */

  font-family: "determination";
  src: url('/fonts/determination/determination.ttf') format('truetype');

}
body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0px;
  /* src: url("/fonts/Jersey_10/Jersey10-Regular.ttf") format('truetype'); */
  font-family: "determination" , sans-serif;
  /* determination.ttf */
  /* Minecraft */
  /* minedings.ttf */
}

.pixel-art {

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}